* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: red !important;
  color: #e5e7eb;
  line-height: 1.6;
}

/* ===== HERO ===== */
.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(135deg, #020617, #0b0f19);
}

.hero h1 {
  font-size: 3rem;
  color: #38bdf8;
}

.hero p {
  font-size: 1.2rem;
  margin-top: 10px;
}

.hero span {
  display: block;
  margin-top: 10px;
  opacity: 0.8;
}

.buttons a {
  display: inline-block;
  margin: 25px 10px;
  padding: 12px 26px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.buttons a:first-child {
  background: #38bdf8;
  color: #020617;
}

.buttons .secondary {
  border: 2px solid #38bdf8;
  color: #38bdf8;
}

.buttons a:hover {
  transform: scale(1.05);
}

/* ===== SECTIONS ===== */
section {
  max-width: 1100px;
  margin: auto;
  padding: 80px 20px;
}

h2 {
  color: #38bdf8;
  margin-bottom: 20px;
  font-size: 2rem;
}

/* ===== SKILLS ===== */
.skills ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
  list-style: none;
}

.skills li {
  background: #020617;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #1e293b;
}

/* ===== PROJECTS ===== */
.project-card {
  background: #020617;
  border: 1px solid #1e293b;
  border-radius: 10px;
  padding: 25px;
  margin-bottom: 25px;
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-6px);
  border-color: #38bdf8;
}

.project-card h3 {
  color: #38bdf8;
}

.project-card a {
  display: inline-block;
  margin-top: 10px;
  color: #38bdf8;
  text-decoration: none;
  font-weight: bold;
}

/* ===== FOOTER ===== */
footer {
  text-align: center;
  padding: 40px 20px;
  background: #020617;
  border-top: 1px solid #1e293b;
}

